<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">What's On Tap</a>
    <a class="nav-link nav-menu-link" routerLink="/" routerLinkActive="active">Menu</a>
    <a class="nav-link" routerLink="/taps" routerLinkActive="active">Taps</a>
    <a class="nav-link" routerLink="/beers" routerLinkActive="active">Beers</a>
    <a class="nav-link" routerLink="/styles" routerLinkActive="active">Styles</a>
    <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
  </div>
</nav>