.menu-body{
    height: 100%;
    color: white;
    font-family: 'Neucha', helvetica, sans-serif;

    h1,h2,p{
        text-align: center;
    }
}
.header{
    padding: 20px;
}
.brewery-title{
    color:white;
}
.beers-container{
    display: flex;
    flex-wrap: nowrap;
}
.beer-container{
    width: 100%;
    background-color: rgba(153,153,153,.23);
    border-radius: 5px;
    margin: 1%;
    padding: 10px;

    .beer-img{
        float: left;
        max-width: 40%;
        height: auto;
        padding-right: 10px;
    }
    .beer-info{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .beer-center-info{
            padding: 20px 0; 
        }

        .beer-center-info{
            width: 100%;
            display: flex;
            .center-prop{
                flex: 1;
                text-align: center;
                border-left: 1px white dashed;
                padding: 0 5px;

                .center-header,.center-content,.center-lower{
                    display: block;
                }
                .center-content{
                    font-size: 3em;
                }
            }
            .center-prop:first-child{
                border-left: none;
            }
        }

    }
    p{
        font-size: 1.4em;
    }
}