<div class="spinner" *ngIf="loadingState; else menu">
  <mat-spinner></mat-spinner>
</div>
<ng-template #menu>
  <div class="menu-body">
    <div class="header">
      <h2>What's on Tap at</h2>
      <h1>{{brewerySettings.BreweryName.stringValue}}</h1>
    </div>
    <div class="beers-container">
      <div *ngFor="let tap of taps" class="beer-container">
        <img class="beer-img" src={{tap.beer.labelSrc}}>
        <div class="beer-info">
          <div class="beer-header">
            <h1>{{tap.beer.name}}</h1>
            <h2>{{tap.beer.style.name}}</h2>
          </div>
          <div class="beer-center-info">
            <div class="center-prop">
              <span class="center-header">ABV</span>
              <span class="center-content">{{tap.beer.abv}}%</span>
              <div class="center-lower">
                <span *ngIf="!brewerySettings.HideOG.boolValue">OG: {{tap.beer.og}}</span>
                <span *ngIf="!brewerySettings.HideOG.boolValue && !brewerySettings.HideFG.boolValue">|</span> 
                <span *ngIf="!brewerySettings.HideFG.boolValue">FG {{tap.beer.fg}}</span>
              </div>
            </div>
            <div class="center-prop">
              <span class="center-header">IBU</span>	
              <span class="center-content">{{tap.beer.ibu}}</span>
            </div>
            <div class="center-prop">
              <span class="center-header">SRM</span>
              <span class="center-content">{{tap.beer.srm}}</span>
            </div>
          </div>
          <div>
            <p>{{tap.beer.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>  
