.spinner{
    top: 45%;
    left: 47%;
    position: fixed;
}
.beerlist-container, #paginator {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    max-height: 700px;
    overflow: auto;
    margin: 0 auto;
}
.upload-container{
    display: none;
}
.upload-container-visible{
    display: block !important;
}
@media (max-width:992px){
    .mobile-hidden{
        display:none;
    }
}