<app-header></app-header>
<div class="spinner" *ngIf="loadingState; else beerlist">
  <mat-spinner></mat-spinner>
</div>
<ng-template class="beerlist" #beerlist>
  <h2 style="text-align: center;">My Beers</h2>
  <div class="beerlist-container mat-elevation-z8">
    <div><button title="Create" mat-raised-button color="accent" (click)="createListItem()">Create</button></div>
    <table mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="style">
        <th mat-header-cell *matHeaderCellDef>Style</th>
        <td mat-cell *matCellDef="let element">{{element.style.name}}</td>
      </ng-container>

      <ng-container matColumnDef="abv">
        <th mat-header-cell *matHeaderCellDef>ABV</th>
        <td mat-cell *matCellDef="let element">{{element.abv | number:'1.1-1'}}%</td>
      </ng-container>

      <ng-container matColumnDef="ibu">
        <th mat-header-cell *matHeaderCellDef>IBU</th>
        <td mat-cell *matCellDef="let element">{{element.ibu | number:'1.1-1'}}</td>
      </ng-container>

      <ng-container matColumnDef="og">
        <th mat-header-cell *matHeaderCellDef>OG</th>
        <td mat-cell *matCellDef="let element">{{element.og | number:'1.3-3'}}</td>
      </ng-container>

      <ng-container matColumnDef="fg">
        <th mat-header-cell *matHeaderCellDef>FG</th>
        <td mat-cell *matCellDef="let element">{{element.fg | number:'1.3-3'}}</td>
      </ng-container>

      <ng-container matColumnDef="srm">
        <th mat-header-cell *matHeaderCellDef>SRM</th>
        <td mat-cell *matCellDef="let element">{{element.srm | number:'1.1-1'}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button title="Edit" mat-raised-button color="primary" (click)="updateListItem(element.id)">Edit</button>
          <input title="Label" mat-raised-button color="primary" type="file" [fileUploadInputFor]="fileQueue">
          <mat-file-upload-queue #fileQueue [fileAlias]="'file'" httpUrl="api/image?id={{element.id}}">      
            <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileQueue.files; let i = index"></mat-file-upload>
          </mat-file-upload-queue>
          <button title="Delete" mat-raised-button color="warn" (click)="deleteListItem(element.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</ng-template>