.spinner{
    top: 45%;
    left: 47%;
    position: fixed;
}
.beerlist-container, #paginator {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto 25px;
}

// dumb label preview fuckery
td:first-of-type{
    width: 10%; 
}
.beer-img{
    padding: 5px;
    max-width: 100%;
}

.upload-container, .remove-container{
    display: none;
}
.upload-container-visible, .remove-container-visible{
    display: block !important;
}
@media (max-width:992px){
    .mobile-hidden{
        display:none;
    }
}