.spinner{
    top: 45%;
    left: 47%;
    position: fixed;
}
.beerlist-container, #paginator {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto 25px;
}

// dumb label preview fuckery
td:first-of-type{
    width: 10%; 
}
.beer-img{
    padding: 5px;
    max-width: 100%;
}

.upload-container, .remove-container{
    display: none;
}
.upload-container-visible, .remove-container-visible{
    display: block !important;
}

#img-popout.show{
    display: flex !important;

    .modal-dialog{
        max-width: 90%;
        display: inline-block;
    
        .bg-popout{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

button.close{
    position: absolute;
    z-index: 69;
    left: -.5em;
    opacity: 100 !important;

    span{
        border: 2px solid gray;
        border-radius: 1em;
        color: white;
        text-shadow: 0 1px 0 gray;
        background-color: black;
        padding: 10px;
    }
}

@media (max-width:992px){
    .mobile-hidden{
        display:none;
    }
}