<form (ngSubmit)="onSubmit(itemForm)" [formGroup]="itemForm">
  <h2>{{data.modalTitle}}</h2>

  <div>
    <mat-checkbox
      formControlName="isEmpty"
      (change)="this.beerSelector.enabled ? this.beerSelector.disable() : this.beerSelector.enable()"
      >Tap is Currently Empty</mat-checkbox>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Beer</mat-label>
      <input type="text" aria-label="Beer" matInput [formControl]="beerSelector" [matAutocomplete]="auto">
      <mat-error *ngIf="typeaheadErrors.beer">
        {{ typeaheadErrors.beer }}
      </mat-error>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="beerDisplayFn">
        <mat-option *ngFor="let option of filteredBeers | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Order</mat-label>
      <mat-select formControlName="order">
        <mat-option *ngFor="let option of orderOptions" [value]=option>{{option}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formErrors.order">
        {{ formErrors.order }}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>&nbsp;
    <button type="submit" mat-raised-button color="primary" [disabled]="itemForm.invalid">{{data.modalBtnTitle}}</button>
  </div>

</form>