<form (ngSubmit)="onSubmit(beerFrm)" [formGroup]="beerFrm">
  <h2>{{data.modalTitle}}</h2>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="formErrors.name">
        {{ formErrors.name }}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Style</mat-label>
      <input matInput placeholder="Style" formControlName="style">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>ABV</mat-label>
      <input matInput type="number" formControlName="abv">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>IBU</mat-label>
      <input matInput type="number" formControlName="ibu">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>OG</mat-label>
      <input matInput type="number" formControlName="og">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>FG</mat-label>
      <input matInput type="number" formControlName="fg">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>SRM</mat-label>
      <input matInput type="number" formControlName="srm">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <div>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>&nbsp;
    <button type="submit" mat-raised-button color="primary" [disabled]="beerFrm.invalid">{{data.modalBtnTitle}}</button>
  </div>

</form>