<app-header></app-header>
<div class="spinner" *ngIf="loadingState; else taplist">
  <mat-spinner></mat-spinner>
</div>
<ng-template class="taplist" #taplist>
  <h2 style="text-align: center;">My Taps</h2>
  <div class="taplist-container mat-elevation-z8">
    <div><button title="Create" mat-raised-button color="accent" (click)="createListItem()">Create</button></div>
    <table mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="beerName">
        <th mat-header-cell *matHeaderCellDef>Beer</th>
        <td mat-cell *matCellDef="let element">{{element.beer.name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button title="Edit" mat-raised-button color="primary" (click)="updateListItem(element.id)">Edit</button>
          <button title="Delete" mat-raised-button color="warn" (click)="deleteListItem(element.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</ng-template>