.spinner{
    top: 45%;
    left: 47%;
    position: fixed;
}
.taplist-container, #paginator {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto 25px;
}
.empty-tap-text{
    color: red;
}