.settings-body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    max-height: 700px;
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
}
.settings-content{
    display: contents;
}
mat-form-field{
    width: 50%;
}
mat-radio-group, .settings-radio-content{
    display: inline-flex;
    flex-direction: column;
}
mat-radio-button * {
    width: 100%;
}

.upload-container{
    display: none;
}
.upload-container-visible{
    display: block !important;
}

@media screen and (max-width: 1000px) {
    mat-form-field {
        width: 100%;
    }
  }