<app-header></app-header>
<div class="spinner" *ngIf="loadingState; else settings">
  <mat-spinner></mat-spinner>
</div>
<ng-template #settings>
  <div class="header">
    <h2 style="text-align: center;">Brewery Settings</h2>
  </div>
  <div class="settings-body mat-elevation-z8">
    <div class="settings-content" style="display:flex;flex-direction:column;">      

      <mat-form-field class="settings-field">
        <input #BreweryName matInput placeholder="Brewery Name" 
          value={{formFields.BreweryName.stringValue}}
          (blur)="updateSetting(formFields.BreweryName, BreweryName.value)"
          (keyup.enter)="updateSetting(formFields.BreweryName, BreweryName.value)">
      </mat-form-field>

      <br/>
      <h4>Layout</h4>

      <mat-radio-group #MenuType [(ngModel)]="formFields.MenuType.stringValue" (ngModelChange)="updateSetting(formFields.MenuType, formFields.MenuType.stringValue, true)">
        <mat-radio-button value="vertical">
          Vertical
        </mat-radio-button>
        <mat-radio-button value="horizontal">
          Horizontal
        </mat-radio-button>
      </mat-radio-group>
      <br/>
      <mat-checkbox #ShowTapNumbers
        [checked]="formFields.ShowTapNumbers.boolValue"
        (change)="updateSetting(formFields.ShowTapNumbers, ShowTapNumbers.checked)">Show Tap Numbers</mat-checkbox>

      <mat-checkbox #ShowStyle
        [checked]="formFields.ShowStyle.boolValue"
        (change)="updateSetting(formFields.ShowStyle, ShowStyle.checked)">Show Style</mat-checkbox>

      <mat-checkbox #ShowABV
        [checked]="formFields.ShowABV.boolValue"
        (change)="updateSetting(formFields.ShowABV, ShowABV.checked)">Show ABV</mat-checkbox>

      <mat-checkbox #ShowIBU
        [checked]="formFields.ShowIBU.boolValue"
        (change)="updateSetting(formFields.ShowIBU, ShowIBU.checked)">Show IBU</mat-checkbox>

      <mat-checkbox #ShowOG
        [checked]="formFields.ShowOG.boolValue"
        (change)="updateSetting(formFields.ShowOG, ShowOG.checked)">Show OG</mat-checkbox>

      <mat-checkbox #ShowFG
        [checked]="formFields.ShowFG.boolValue"
        (change)="updateSetting(formFields.ShowFG, ShowFG.checked)">Show FG</mat-checkbox>

      <mat-checkbox #ShowSRM
        [checked]="formFields.ShowSRM.boolValue"
        (change)="updateSetting(formFields.ShowSRM, ShowSRM.checked)">Show SRM</mat-checkbox>

      <mat-checkbox #ShowDesc
        [checked]="formFields.ShowDesc.boolValue"
        (change)="updateSetting(formFields.ShowDesc, ShowDesc.checked)">Show Description</mat-checkbox>

      <br/>
      <h4>Paging</h4>

      <mat-form-field class="settings-field">
        <input #MaxTapsPerPage matInput type="number" placeholder="Max Taps Per Page" 
          value={{formFields.MaxTapsPerPage.intValue}}
          (blur)="updateSetting(formFields.MaxTapsPerPage, MaxTapsPerPage.value)"
          (keyup.enter)="updateSetting(formFields.MaxTapsPerPage, MaxTapsPerPage.value)">
      </mat-form-field>

      <mat-form-field class="settings-field">
        <input #PagingInterval matInput type="number" placeholder="Paging Interval" 
          value={{formFields.PagingInterval.intValue}}
          (blur)="updateSetting(formFields.PagingInterval, PagingInterval.value)"
          (keyup.enter)="updateSetting(formFields.PagingInterval, PagingInterval.value)">
      </mat-form-field>


      <br/>
      <h4>Styles</h4>
      <mat-radio-group #BackgroundType [(ngModel)]="formFields.BackgroundType.stringValue" (ngModelChange)="updateSetting(formFields.BackgroundType, formFields.BackgroundType.stringValue, true)">
        <mat-radio-button value="solid">
            <span class="settings-radio-content">
              <label class="mat-form-field-labe">Menu Solid Background Color</label>
              <input #MenuSolidBackground class="non-mat-form-field"
                [value]="formFields.MenuSolidBackground.stringValue"
                [style.background]="formFields.MenuSolidBackground.stringValue"
                [cpOKButton]="true"
                [cpSaveClickOutside]="false"
                [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                [cpPosition]="'top'"
                [(colorPicker)]="formFields.MenuSolidBackground.stringValue"
                (colorPickerSelect)="updateSetting(formFields.MenuSolidBackground, MenuSolidBackground.value, true)"/>
            </span>
        </mat-radio-button>
        <mat-radio-button value="image">
          <span class="settings-radio-content">
            <label>Menu Background</label>
          </span>
        </mat-radio-button>
        <button title="Upload Label" mat-raised-button color="accent" (click)="toggleLabelUpload('upload-background')" style="width:10em;">Upload Image</button>
        <div id="upload-background" class="upload-container">
          <input title="Upload Label" class="label-input" color="primary" type="file" [fileUploadInputFor]="fileQueue">
          <mat-file-upload-queue #fileQueue [fileAlias]="'file'" httpUrl="api/setting/background">      
            <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileQueue.files; let i = index"></mat-file-upload>
          </mat-file-upload-queue>
        </div>
        <a class="bg-preview-container" href="#img-popout" role="button" data-toggle="modal"><img class="bg-preview"
          *ngIf="bgPreview != null"
          src="{{bgPreview}}"></a>
      </mat-radio-group>


      <br/>
      <label class="mat-form-field-labe">Menu Text Color</label>
      <input #MenuTextColor class="non-mat-form-field"
        [value]="formFields.MenuTextColor.stringValue"
        [style.background]="formFields.MenuTextColor.stringValue"
        [cpOKButton]="true"
        [cpSaveClickOutside]="false"
        [cpOKButtonClass]= "'btn btn-primary btn-xs'"
        [cpPosition]="'top'"
        [(colorPicker)]="formFields.MenuTextColor.stringValue"
        (colorPickerSelect)="updateSetting(formFields.MenuTextColor, MenuTextColor.value, true)"/>
    </div>
  </div>
  
  <div class="modal" id="img-popout" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <img class="bg-popout" src="{{bgPreview}}">
        </div>
      </div>
    </div>
  </div>
</ng-template>