.spinner{
    top: 45%;
    left: 47%;
    position: fixed;
}

.settings-body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto 25px;
    padding: 20px;
}
.settings-content{
    display: contents;
}
mat-form-field, .non-mat-form-field{
    width: 50%;
}
mat-radio-group, .settings-radio-content{
    display: inline-flex;
    flex-direction: column;
}
mat-radio-button * {
    width: 100%;
}

.upload-container{
    display: none;
}
.upload-container-visible{
    display: block !important;
}

.bg-preview-container{
    max-width: 50%;

    .bg-preview{
        max-width: 100%
    }
}

#img-popout.show{
    display: flex !important;

    .modal-dialog{
        max-width: 90%;
        display: inline-block;
    
        .bg-popout{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

button.close{
    position: absolute;
    z-index: 69;
    left: -.5em;
    opacity: 100 !important;

    span{
        border: 2px solid gray;
        border-radius: 1em;
        color: white;
        text-shadow: 0 1px 0 gray;
        background-color: black;
        padding: 10px;
    }
}

@media (max-width:992px) {
    mat-form-field {
        width: 100%;
    }
  }