<app-header></app-header>
<div class="spinner" *ngIf="loadingState; else settings">
  <mat-spinner></mat-spinner>
</div>
<ng-template #settings>
  <div class="header">
    <h2 style="text-align: center;">Brewery Settings</h2>
  </div>
  <div class="settings-body mat-elevation-z8">
    <div class="settings-content" style="display:flex;flex-direction:column;">
      <mat-form-field class="settings-field">
        <input #BreweryName matInput placeholder="Brewery Name" 
          value={{formFields.BreweryName.stringValue}}
          (blur)="updateSetting(formFields.BreweryName, BreweryName.value)"
          (keyup.enter)="updateSetting(formFields.BreweryName, BreweryName.value)">
      </mat-form-field>

      <mat-checkbox #ShowOG
        [checked]="formFields.ShowOG.boolValue"
        (change)="updateSetting(formFields.ShowOG, ShowOG.checked)">Show OG</mat-checkbox>

      <mat-checkbox #ShowFG
        [checked]="formFields.ShowFG.boolValue"
        (change)="updateSetting(formFields.ShowFG, ShowFG.checked)">Show FG</mat-checkbox>

      <br/>
      <label>Menu Background</label>
      <button title="Upload Label" mat-raised-button color="accent" (click)="toggleLabelUpload('upload-background')" style="width:10em;">Upload Image</button>
      <div id="upload-background" class="upload-container">
        <input title="Upload Label" class="label-input" color="primary" type="file" [fileUploadInputFor]="fileQueue">
        <mat-file-upload-queue #fileQueue [fileAlias]="'file'" httpUrl="api/setting/background">      
          <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileQueue.files; let i = index"></mat-file-upload>
        </mat-file-upload-queue>
      </div>
    </div>
  </div>
</ng-template>